<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tb3_name"  default="tb3_0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multi_sim)/worlds/multi_field.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns = "$(arg tb3_name)">
    <rosparam command="load" file="$(find multi_navigation)/config/params.yaml"/>
    <param name="robot_desc" value="$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg tb3_name)" />
    </node>

    <node name="spawn" pkg="multi_sim" type="spawn.py" output="screen">
      <param name="tb3_name" type = "str" value="$(arg tb3_name)"/>
    </node>
  </group>

</launch>
