<launch>

  <arg name="user" default="$(env USER)" />

  <group>
    <machine name="sub" address="raspi-B.local" user="turtle-b" password="gazebo" env-loader="~/catkin_ws/src/multi_tb3/env/machine.sh" />
    <include file="$(find multi_tb3)/launch/turtlebot3_named_robot.launch"/>
    <!-- <node pkg="multi_tb3" type="node.py" name="sub_node" machine="sub" output="screen">
      <param name="myparam" value="hello sub" />
    </node> -->
  </group>

  <!-- <node pkg="multi_tb3" type="node.py" name="main_node">
    <param name="myparam" value="hello main" />
  </node> -->


</launch>